In [2]:
import numpy as np
import pandas as pd

In [3]:
data= pd.read_csv("bp.csv")
data.head()
data=data.drop(index=[1,700])
data.head()

,w,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,0,50,2,168,62.0,110,80,1,1,0,0,1,0
2,2,2,51,1,165,64.0,130,70,3,1,0,0,0,1
3,3,3,48,2,169,82.0,150,100,1,1,0,0,1,1
4,4,4,47,1,156,56.0,100,60,1,1,0,0,0,0
5,5,8,60,1,151,67.0,120,80,2,2,0,0,0,0

In [4]:
data.pop("id")
data.pop('gender')
data.pop('gluc')
#data.pop('active')
data.pop('w')
y=data.pop("cardio")


X=data

data.head()

   age  height  weight  ap_hi  ap_lo  cholesterol  smoke  alco  active
0   50     168    62.0    110     80            1      0     0       1
2   51     165    64.0    130     70            3      0     0       0
3   48     169    82.0    150    100            1      0     0       1
4   47     156    56.0    100     60            1      0     0       0
5   60     151    67.0    120     80            2      0     0       0

In [5]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

NameError: name 'X_train' is not defined

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.31,random_state=2432423121)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=7, random_state=46855676)
clf.fit(X_train,y_train)

RandomForestClassifier(max_depth=7, random_state=46855676)

In [ ]:
predic=clf.predict(X_test)
from sklearn import metrics
g=metrics.accuracy_score(y_test,predic)
print(round(g*100,2))

73.51