In [1]:
import numpy as np
import pandas as pd

In [2]:
data= pd.read_csv("diabetes.csv")
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [4]:
h=data.pop("Pregnancies")
h=data.pop("SkinThickness")

In [5]:
y=data.pop("Outcome")
X=data
#X=X.to_numpy()
#y=y.to_numpy()

In [6]:
data.head()

   Glucose  BloodPressure  Insulin   BMI  DiabetesPedigreeFunction  Age
0      148             72        0  33.6                     0.627   50
1       85             66        0  26.6                     0.351   31
2      183             64        0  23.3                     0.672   32
3       89             66       94  28.1                     0.167   21
4      137             40      168  43.1                     2.288   33

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.31,random_state=2432423121)

In [8]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [9]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=7, random_state=25)
clf.fit(X_train,y_train)

RandomForestClassifier(max_depth=7, random_state=25)

In [10]:
predic=clf.predict(X_test)
from sklearn import metrics
g=metrics.accuracy_score(y_test,predic)
print(round(g*100,2))

83.26